body {
    position: relative;
    padding-left: 0%;
    padding-top: 1%;
    padding-bottom: 0%;
}
#home {
  padding-left: 0px;
  padding-top:0px;
  height:745px;
  color: #fff;
  background-color: black;}
#sigs {padding-top:50px;height:500px;color: #fff; background-color: white;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: white;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: white;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: white;}
#links {padding-top:50px;height:350px;color: #fff; background-color: #05042E;}
.container {
  position: relative;
  text-align: center;
  color: black;
}

.button1{
  background-color: maroon;
  border: none;
  border-radius: 100%;
  padding: 20px;
  color: white;
  font-size: 16px;
  size:50px;
  margin: 4px 2px;
}
.webclub{
  position: absolute;
  font-size: 110%;
  text-align: left;
  font-size: 50px;
  font-family: fantasy;
  top: 30%;
  left: 18%;
}

.centered {
  position: absolute;
  text-align: left;
  font-weight: bolder;
  font-family: inherit;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
}

p{
  color: black;
}

h1{
  color: black;
}

.container-fluid4b{
  padding: 10%;
}


.media{
  align-items: center;
  text-align: center;
  size: 5%;
}
.fa {
  padding: 1.5%;
  font-size: 80px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #05042E;
  color: white;
}

.fa-twitter {
  background: #05042E;
  color: white;
}

.fa-google {
  background: #05042E;
  color: white;
}

.fa-linkedin {
  background: #05042E;
  color: white;
}

.fa-youtube {
  background: #05042E;
  color: white;
}

.fa-instagram {
  background: #05042E;
  color: white;
}
