body {
    position: relative;
    padding-left: 0%;
    padding-top: 1%;
    padding-bottom: 0%;
}
#section0 {
  padding-left: 0px;
  padding-top:0px;
  height:745px;
  color: #fff;
  background-color: black;}
#section1 {padding-top:50px;height:500px;color: #fff; background-color: white;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: white;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: white;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: white;}
#links {padding-top:50px;height:350px;color: #fff; background-color: #05042E;}
.container {
  position: relative;
  text-align: center;
  color: black;
}

.webclub{
  position: absolute;
  font-size: 110%;
  text-align: left;
  font-size: 50px;
  font-family: fantasy;
  top: 30%;
  left: 18%;
}

.centered {
  position: absolute;
  text-align: left;
  font-weight: bolder;
  font-family: inherit;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
}

p{
  color: black;
}

h1{
  color: black;
}

.container-fluid4b{
  padding: 10%;
}
